<section class="container-fluid d-flex flex-column justify-content-between">
  <div class="row py-3 px-4">
    <div
      class="col d-flex flex-column align-items-center justify-content-center quizz-container"
    >
      <div class="pokemon-card rounded" #pokemonCard>
        <picture class="pokemon-img-container">
          <img
            *ngIf="pokemonToFind"
            [src]="pokemonToFind.sprites.front_default"
            [ngClass]="{
              'reveal': pokemonRevealed,
              'fade-in hidden': pokemonImgLoaded,
            }"
            (load)="pokemonImgLoaded = true"
            alt="Hidden pokemon"
            #pokemonImg
          />
        </picture>
      </div>

      <ul class="options fade-in" *ngIf="pokemonImgLoaded && !pokemonRevealed">
        <li
          *ngFor="let pokemon of pokemonsInQuizz"
          class="glass-bg text-capitalize"
          (click)="chooseOption(pokemon.name)"
        >
          {{ pokemon?.name }}
        </li>
      </ul>

      <div *ngIf="pokemonToFind">
        <p
          [class.d-none]="!pokemonRevealed"
          class="pokemon-text fade-in"
          [style]="'color:' + prominentColor"
        >
          It's {{ pokemonToFind.name }} !
        </p>
      </div>

      <div class="d-flex my-5 mx-auto" *ngIf="pokemonRevealed">
        <button class="continue-btn pokemon-text" (click)="nextPokemon()">
          Continue
        </button>
      </div>
    </div>
  </div>
  <div class="mx-auto d-flex align-items-center justify-content-around w-75">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <img
        src="../../../assets/pikachu.png"
        class="img-fluid rounded m-1"
        alt="Trainer icon"
        width="50"
        height="50"
      />
      <p class="pokemon-text fade-in m-0" [style]="'color:' + prominentColor">
        John Doe
      </p>
    </div>
    <p class="pokemon-text fade-in m-0" [style]="'color:' + prominentColor">
      Score: {{ trainer.score }}
    </p>
  </div>
</section>
