<section class="container-fluid py-5 px-4">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="pokemon-card rounded p-3">
        <picture class="hidden-pokemon">
          <img src="/assets/1.png" alt="Hidden pokemon" />
        </picture>

        <div class="pokemon-description">
          <b> Pikachu </b>
          <hr />
          <p>Description</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="options">
        <li>Charizard</li>
        <li>Bulbasaur</li>
        <li>Pikachu</li>
      </ul>
    </div>
  </div>
</section>
