<section class="container-fluid d-flex flex-column align-items-center">
  <div
    class="d-flex flex-column w-75 align-items-center justify-content-center quizz-container"
  >
    <div class="pokemon-card rounded" #pokemonCard>
      <picture class="pokemon-img-container">
        <img
          *ngIf="pokemonToFind"
          [src]="pokemonToFind.sprites.front_default"
          [class]="pokemonRevealed ? 'reveal' : 'fade-in hidden'"
          alt="Hidden pokemon"
          #pokemonImg
        />
      </picture>
    </div>

    <ul class="options fade-in" *ngIf="pokemonToFind && !pokemonRevealed">
      <li
        *ngFor="let pokemon of pokemonsInQuizz"
        class="glass-bg text-capitalize"
        (click)="chooseOption(pokemon.name)"
      >
        {{ pokemon.name }}
      </li>
    </ul>

    <div>
      <p
        [class.d-none]="!pokemonRevealed"
        class="pokemon-text fade-in"
        [style]="'color:' + prominentColor"
      >
        It's {{ pokemonToFind.name }} !
      </p>
    </div>

    <div class="mx-auto text-center mt-4 w-75">
      <p
        [class.d-none]="!pokemonRevealed"
        class="pokemon-text fade-in"
        [style]="'color:' + prominentColor"
      >
        Trainer: John Doe
      </p>
      <p
        [class.d-none]="!pokemonRevealed"
        class="pokemon-text fade-in"
        [style]="'color:' + prominentColor"
      >
        Score: 10
      </p>
    </div>
  </div>
  <div class="mx-auto d-flex align-items-center justify-content-around w-75">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <img
        src="../../../assets/pikachu.png"
        class="img-fluid rounded m-1"
        alt="Trainer icon"
        width="50"
        height="50"
      />
      <p class="pokemon-text fade-in m-0" [style]="'color:' + prominentColor">
        John Doe
      </p>
    </div>
    <p class="pokemon-text fade-in m-0" [style]="'color:' + prominentColor">
      Score: 10
    </p>
  </div>
</section>
