@import "../../../assets/pallette.scss";

input {
  border: none;
  background-color: transparent;
  & :focus-visible,
  &:focus {
    outline: none;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: unset;
  transition: background-color 5000s ease-in-out 0s;
}

.login-form {
  width: 80%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem !important;
  border-radius: 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto !important;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.paraghrap-style {
  font-size: 1rem;
  color: $black;
  font-weight: bold;
}

.form-label {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: capitalize;

  font-family: "Pokemon Solid", sans-serif;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.form-input {
  padding: 5px 0px !important;
  border-bottom: 1px solid $white;
  &::placeholder {
    color: $black;
  }
}

.options-container {
  display: flex;
  width: 100%;
  justify-content: space-around;

  & button {
    margin-top: 10px !important;
    border-radius: 10px;
    border: none;
    background: transparent;
    color: #fcce00;
    letter-spacing: 2px;
    text-shadow: 5px 5px 2px #3a599f;
    &:hover {
      transition: 100ms transform;
      transform: scale(1.1);
    }
    transition: 100ms transform;
  }
}
