@import "../assets/pallette.scss";

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: transparent;
  z-index: 1;

  &,
  & .header,
  & .content,
  & .footer {
    width: 100%;
  }

  .content {
    flex: 1;
  }

  & .footer {
    padding: 10px;
  }
}

.default-bg,
.pokemon-discovered-bg {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: opacity 500ms !important;
  bottom: 0;
  z-index: -1;
}

.bg-white {
  background-color: $white;
  color: $black;
}
