@import "../assets/pallette.scss";

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &,
  & .header,
  & .content,
  & .footer {
    background-color: $red;
    color: $white;
    width: 100%;
  }

  .content {
    flex: 1;
  }

  & .footer {
    padding: 10px;
  }
}
