<section class="container-fluid">
  <div class="row p-3 all-pokemons-bg">
    <div class="col col-md-6 d-flex justify-content-center align-items-center">
      <div class="title-container">
        <h1 class="pokemon-letter-style fs-1">Poke Quizz</h1>
        <p class="pokemon-letter-style fs-3">Found them all!</p>
      </div>
    </div>
    <div class="col col-md-6 d-flex justify-content-center">
      <picture class="w-75 d-flex justify-content-center align-items-center">
        <img src="/assets/3d/pokeball.png" class="img-fluid pokeball-img" />
      </picture>
    </div>
  </div>
  <div class="separator p-2">
    <hr />
    <app-pokeball-svg class="spin" />
    <hr />
  </div>
  <div class="row bg-red p-3">
    <div class="col">
      <div class="game-description">
        <p>
          This game is all about your love for Pokémon and your ability to
          recognize them. If you've ever watched the Pokémon animated series or
          played the games, you're already on the right path! "Who's That
          Pokémon" is a classic challenge that will challenge your memory and
          Pokémon identification skills.
        </p>
        <div class="action-buttons my-4">
          <button (click)="showRegisterTrainer()">Play</button>

          <picture class="pokemon-img">
            <img src="/assets/pikachu.png" alt="Pokemon img" />
          </picture>

          <button routerLink="/ranking">Ranking</button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-container *ngIf="true">
  <app-register-trainer />
</ng-container>
