<section
  class="container-fluid d-flex flex-column m-auto justify-content-center align-items-center"
>
  <div class="title-container mb-3">
    <h1 class="fs-1">Poke Quizz</h1>
    <p class="fs-3">Found them all!</p>
  </div>

  <picture class="w-75 d-flex justify-content-center">
    <img src="/assets/3d/pokeball.png" class="img-fluid pokeball-img" />
  </picture>
</section>
<video
  src="../../../assets/home-vid.mp4"
  autoplay
  [muted]="true"
  class="video"
></video>

<!-- <div class="separator">
  <hr />
  <app-pokeball-svg class="spin" />
  <hr />
</div> -->
