/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "./assets/pallette.scss";
@import "./assets/fonts/fonts.scss";

* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

body,
html {
  min-height: 100vh;
  min-width: 100%;
  background: rgba(249, 249, 248, 1) 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
