<div class="bacgkround-card">
  <article
    class="register-trainer card d-flex justify-content-center m-auto rounded p-3"
  >
    <div class="w-75 text-center mx-auto">
      <p class="pokemon-letter-style">Register Score</p>
    </div>

    <div class="w-100">
      <div class="my-5">
        <input
          type="text"
          name="trainer-name"
          placeholder="Trainer name"
          class="form-input"
        />
      </div>
      <div class="my-5">
        <input
          type="text"
          placeholder="Password"
          class="form-input"
          name="trainer-password"
        />
      </div>

      <div class="w-100 d-flex justify-content-around mt-5">
        <button class="pokemon-letter-style button-register">Register</button>
        <button class="pokemon-letter-style button-register">No thanks!</button>
      </div>
    </div>
  </article>
</div>
